<article class="content">
  <img id="pinned" src="images/thumb.png">
  <section class="post-feed">
    <img id="avatar" src="images/avatar.png">
      <h1 id="title"><i><%=@result.title%></i></h1>
      <h2 id="username-display"> NASA </h2>
      <p id="content"><%=@result.explanation%></p>
      <a href='<%=@result.url%>'><img id="photo" src='<%=@result.url%>'></a>
  </section>
</article>

<% count = 0 %>
<% for element in @all_posts %>
<% break if count == 20%>
  <% if element.user == nil %>
  <% else %>
    <article class="content">
        <section class="post-feed">
          <img id="avatar" src="images/avatar.png">
            <h1 id="title"><b><i><%=element.title%></i></b></h1>
            <hr>
            <h2 id="username-display"><%="#{element.user.username}"%><span id="real">( <i><%="#{element.profile.first_name} #{element.profile.last_name}"%></i> )</span></h2>
            <p id="content"><%=element.content%></p>
        </section>
    </article>
  <% count += 1 %>
  <% end %>
<% end %>