<img id="pinned" src="images/thumb.png">
<article id="first" class="content">
    <section class="post-feed">
    <div id="box-1">
      <img id="avatar" src="images/avatar.png">
      <h2 id="username-display"> NASA </h2>
      <h4 id="date"> <%= @result.date %> </h4>
    </div>
      <div id="box-2">
        <h1 id="title"><%=@result.title%></h1>
        <a href='<%=@result.url%>'><img id="photo" src='<%=@result.url%>'></a>
        <p id="content"><%=@result.explanation%></p>
      </div>
    </section>
</article>

<% count = 0 %>
<% for element in @all_posts %>
<% break if count == 20%>
  <% if element.user == nil %>
  <% else %>
    <% num = rand(4) %>
    <article class="content">
        <section class="post-feed">
        <div id="box-1">
          <img id="avatar" src="images/avatar-<%=num%>.png">
          <h2 id="username-display"><%="#{element.user.username}"%><br /><span id="real">( <i><%="#{element.profile.first_name} #{element.profile.last_name}"%></i> )</span></h2>
        </div>
        <div id="box-2">
          <h1 id="title"><%=element.title%></h1>
          <p id="content"><%=element.content%></p>
        </div>
        </section>
    </article>
  <% count += 1 %>
  <% end %>
<% end %>